<!--<launch>-->
<!--&lt;!&ndash;<node pkg="turtlebot" type="turtlebot_gazebo" name="TurtleBot" output="screen" />&ndash;&gt;-->
<!--&lt;!&ndash;<node pkg="beginner_tutorials" type="agent_dynamics.py" name="robot_dyn" output="screen"/>&ndash;&gt;-->
<!--</launch>-->

<launch>
    <arg name="world_file" default="beginner_tutorials/worlds/sim_updated"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="true"/>
        <arg name="world_name" value="$(arg world_file)"/>
    </include>

    <!--<node pkg="turtlebot_gazebo" type="turtlebot_gazebo" name="TurtleBot" output="screen"/>-->
    <node pkg="ROS_Robotics" type="agent_dynamics.py" name="AI_Robot" output="screen"/>
</launch>