<launch>
    <arg name="world_file" default="/home/gandalf/catkin_ws/src/ROS_Robotics/beginner_tutorials/worlds/static_boxes"/>

    <include file="/opt/ros/kinetic/share/gazebo_ros/launch/empty_world.launch">
        <arg name="debug" value="true"/> <!--shows extra info in console about launch process-->
        <arg name="world_name" value="$(arg world_file)"/> <!--get world variable-->
    </include>

    <node pkg="beginner_tutorials" type="agent_dynamics.py" name="AI_Robot" output="screen"/>
</launch>
